# to connect to our LLM model, the api of our Analytical database and authenticate to the api (api are secured with api keys)
BASE_URL=
API_KEY=

# Useful only for ci/cd
LOCATION=
HOSTNAME=
REPOSITORY=
IMAGE_NAME=
IMAGE_TAG=
IMAGE_FULL_TAG=$HOSTNAME/$PROJECT_ID/$REPOSITORY/$IMAGE_NAME:$IMAGE_TAG
